<footer class="footer">
  <small>
    <a> 演示（Ender）</a>
  </small>
  <nav>
    <ul>
      <a> @Ender-今天很哇晒</a>
      <li>
        <a> 请勿随意更改！！！</a>
      </li>
      <!--
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      -->
    </ul>
  </nav>
</footer>
