<header class="navbar navbar-fixed-top header-layout">
  <div class="container-fluid">
    <div class="header-title-wrap text-center">
      <!--  -->
      <div class="header-title text-center text-nowrap">
         Ender's Notebook
      </div>

      <div class="slogan">
         *** 哇哦哇哦 ***
      </div>
    </div>

     <div class= "menu-wrap text-center">
       <ol class= "default-menu">
         <li id=overviews>
           <a href= "<%= overviews_path %>" ><span class="menu"> Home</span></a>
         </li>
         <li>
           <a href="/tasks"><span class="menu">Tasks</span></a>
         </li>
         <li>
           <a href="/projects"><span class="menu">Projects</span></a>
         </li>
         <li>
           <a href="/teams"><span class="menu">Teams</span></a>
         </li>
      </ol>
    </div>
  </div>  

</header>
